{% extends 'accounts/base.html' %}
{% load crispy_forms_tags %}

{% block title %}Inscription{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8 auth-container">
        <div class="auth-header">
            <h2>Inscription</h2>
        </div>
        <div class="p-4">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-6">
                        {{ form.first_name|as_crispy_field }}
                    </div>
                    <div class="col-md-6">
                        {{ form.last_name|as_crispy_field }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        {{ form.username|as_crispy_field }}
                    </div>
                    <div class="col-md-6">
                        {{ form.email|as_crispy_field }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        {{ form.password1|as_crispy_field }}
                    </div>
                    <div class="col-md-6">
                        {{ form.password2|as_crispy_field }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        {{ form.gender|as_crispy_field }}
                    </div>
                    <div class="col-md-4">
                        {{ form.cni_number|as_crispy_field }}
                    </div>
                    <div class="col-md-4">
                        {{ form.status|as_crispy_field }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        {{ form.qualification|as_crispy_field }}
                    </div>
                    <div class="col-md-6">
                        {{ form.site|as_crispy_field }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        {{ form.city|as_crispy_field }}
                    </div>
                    <div class="col-md-6">
                        {{ form.profile_picture|as_crispy_field }}
                    </div>
                </div>
                <div class="d-grid gap-2 mt-4">
                    <button type="submit" class="btn btn-primary">S'inscrire</button>
                </div>
            </form>
            <div class="mt-3 text-center">
                <p>Déjà un compte ? <a href="{% url 'login' %}">Se connecter</a></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}