{% extends 'intervention/base_pdf.html' %}

{% block content %}
<h1 class="text-center mb-4">Rapport d'intervention #{{ rapport.id }}</h1>

<div class="row mb-4">
    <div class="col-md-6">
        <h4>Informations générales</h4>
        <table class="table table-bordered">
            <tr>
                <th>Ordre de travail</th>
                <td>#{{ rapport.ordre.id }}</td>
            </tr>
            <tr>
                <th>Équipement</th>
                <td>{{ rapport.ordre.equipement.code }} - {{ rapport.ordre.equipement.designation }}</td>
            </tr>
            <tr>
                <th>Sous-ensemble</th>
                <td>{{ rapport.ordre.sous_ensemble|default:"-" }}</td>
            </tr>
            <tr>
                <th>Site</th>
                <td>{{ rapport.ordre.equipement.get_site_display }}</td>
            </tr>
        </table>
    </div>
    <div class="col-md-6">
        <h4>Intervention</h4>
        <table class="table table-bordered">
            <tr>
                <th>Date</th>
                <td>{{ rapport.date_creation|date:"d/m/Y H:i" }}</td>
            </tr>
            <tr>
                <th>Statut</th>
                <td>{{ rapport.get_statut_display }}</td>
            </tr>
            <tr>
                <th>Temps passé</th>
                <td>{{ rapport.temps_passe }} heures</td>
            </tr>
            <tr>
                <th>Technicien</th>
                <td>{{ rapport.created_by.get_full_name|default:rapport.created_by.username }}</td>
            </tr>
        </table>
    </div>
</div>

<div class="mb-4">
    <h4>Description</h4>
    <div class="border p-3">
        {{ rapport.description|linebreaks }}
    </div>
</div>

<div class="mb-4">
    <h4>Actions réalisées</h4>
    <div class="border p-3">
        {{ rapport.actions|linebreaks }}
    </div>
</div>

<div class="mb-4">
    <h4>Pièces utilisées</h4>
    <div class="border p-3">
        {{ rapport.pieces_utilisees|default:"Aucune pièce utilisée"|linebreaks }}
    </div>
</div>

<div class="signature mt-5">
    <div class="row">
        <div class="col-md-6 text-center">
            <p class="border-top pt-2">Signature du technicien</p>
        </div>
        <div class="col-md-6 text-center">
            <p class="border-top pt-2">Validation du responsable</p>
        </div>
    </div>
</div>
{% endblock %}